@font-face {
  font-family: gameboyFont;
  src: url(./font/Gbboot-ALpM.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: gameboyFont;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: black;
}

.dflex {
  display: flex;
  align-items: center;
  gap: 60px;
}

header {
  padding: 24px;
  background-color: lightblue;
}

.logo {
  width: 150px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 24px;
  background-color: #ffcb05;
  width: 100vw;
  text-align: center;
}